.wrapper {
    background:#030b3e;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 100px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  @media only screen and (max-width: 768px) {
    .wrapper { 
margin-left: 50 auto;
margin-right: 50 auto;
padding: 0px;
    }
  }